<div>
  <nav class="navbar navbar-expand" style="background-color:aqua; justify-content: center;">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="users" class="nav-link" style="color:coral; font-size: x-large; margin-right: 20px">Users List</a>
      </li>
      <li>
        <div style="border-left: 1px solid black;height: 45px;"></div>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link" style="color:coral; font-size: x-large; margin-left: 20px;">Add User</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
